appnope==0.1.0
awscli==1.11.153
bleach==2.1.2
blockdiag==1.5.3
botocore==1.7.11
cffi==1.9.1
colorama==0.3.7
colormap==1.0.1
conda==4.3.11
cryptography==1.7.1
cycler==0.10.0
decorator==4.2.1
docutils==0.14
easydev==0.9.33
entrypoints==0.2.3
funcparserlib==0.3.6
graphviz==0.8.2
html5lib==1.0.1
idna==2.2
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.0.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.0
numpy==1.12.0
olefile==0.44
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.1
pyasn1==0.3.4
pycosat==0.6.1
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-dateutil==2.6.1
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.4
qtconsole==4.3.1
requests==2.12.4
rsa==3.4.2
s3transfer==0.1.11
scikit-learn==0.19.1
scipy==1.0.0
Send2Trash==1.4.2
seqdiag==0.9.5
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
wcwidth==0.1.7
webcolors==1.7
webencodings==0.5.1
widgetsnbextension==3.1.3
